services:
  # =========================
  # Bases de datos
  # =========================
  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend-network

  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: loansdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network

  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - backend-network

  # =========================
  # Backends (3 instancias)
  # =========================
  backend1:
    build: ./backend
    container_name: backend-1
    environment:
      PORT: 3000
      PG_HOST: postgres
      MONGO_URI: mongodb://mongo:27017/authdb
      REDIS_HOST: redis
    networks:
      - backend-network

  backend2:
    build: ./backend
    container_name: backend-2
    environment:
      PORT: 3000
      PG_HOST: postgres
      MONGO_URI: mongodb://mongo:27017/authdb
      REDIS_HOST: redis
    networks:
      - backend-network

  backend3:
    build: ./backend
    container_name: backend-3
    environment:
      PORT: 3000
      PG_HOST: postgres
      MONGO_URI: mongodb://mongo:27017/authdb
      REDIS_HOST: redis
    networks:
      - backend-network

  # =========================
  # NGINX Load Balancer
  # =========================
  nginx:
    image: nginx:alpine
    ports:
      - "3001:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
      - backend3
    networks:
      - backend-network

  # =========================
  # Frontend
  # =========================
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://nginx/api
    depends_on:
      - nginx
    networks:
      - backend-network

volumes:
  mongo_data:
  postgres_data:

networks:
  backend-network:
    driver: bridge